*{

	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body,html{
	height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

	
}
.background
{
    background-image: url(img/wallpaper3.jpg);
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    background-size: cover;

    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100%;

}

.infoBox
{
    border-radius: 5%;
    background-color: rgba(30, 33, 34, 0.65);
    color: #a89595;
    padding: 20px;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    height: 400px;
    width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

.infoBox__name
{
    font-size: 150%;

    margin: 5px;

}

.infoBox__msg
{
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    max-width: 400px;
    margin: 10px;
    padding-bottom: 10px;
}
.infoBox__img
{
    border-radius: 10%;
    width: 150px;
    height: 150px;
    margin: 10px;
}


/*.btn__aboutme*/
/*{*/
/*    display: inline-flex;*/
/*    position: relative;*/
/*    text-decoration: none;*/
/*    background-color: #5f6367;*/
/*    border: none;*/
/*    color:#43271d;*/
/*    font-weight: 100;*/
/*    padding: 12px 12px;*/
/*    margin: 10px;*/
/*    border-radius: 50px;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    align-content: center;*/
/*    transition: opacity 0.5s ease;*/
/*    */


/*}*/
.infoBox__MusicPlay
{
    justify-content: center;

}
.infoBox__MusicPlay__img
{
    border-radius: 10%;
    width: 50px;
    height: 50px;
}

.btn__aboutme:hover
{
    opacity: 0.6;
}
.aboutmeBox + .socialLinkBox
{
    margin-left: 5px;
}

.aboutmeBox
{
    border-radius: 5%;
    background-color: #f2e9d8;
    
    color: #505253;
    padding: 20px;
    position: absolute;
    width: 500px;
    height: 372px;
    margin: auto;
    left: 25%;
    top: 120%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.socialLinkBox
{
    border-radius: 5%;
    background-color: #f2e9d8;
    
    color: #505253;
    padding: 20px;
    position: absolute;
    width: 500px;
    height: 372px;
    margin: auto;
    left: 75%;
    top: 120%;

    transform: translate(-50%, -50%);
    text-align: center;
}
.icon {
 
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
.socialLinkBox__icon
{
    height: 40px;
    width: 40px;
    font-size: 30px;
    
    color: #d5bb96;
    transition: opacity 0.5s ease;
}
.socialLinkBox__icon:hover{
    opacity: 0.7;
}
